/**
 * @version 1.0.0
 * @author 
 *         
 *
 * @description
 * 우측 로그인 바에 대한 스타일 시트를 적용해주세요.
 * 이 요소는 처음에는 보이지 않으며 z-index가 다른 요소보다 높아야 합니다.
 */

/* 화면을 어둡게 만드는 라이트 박스 컨테이너입니다. */
#light-box-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: -9999px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #252526;
    opacity: 0.4;
    z-index: 150;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#light-box-container.active {
    left: 0;
}

/* 우측 로그인 바를 감싸고 있는 래퍼입니다 */
.floating-login-view-wrapper {
    position: fixed;
    left: 9999px;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 200;
    display: flex;
    flex: 1 1 0;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: flex-start;
    transition: all .4s ease-in;
}

.floating-login-view {
    width: 18em;
    min-height: 100%;
    background-color: #fff;
    opacity: 0.8;
} 

.floating-login-view input {
    background: #d2d2d2;
}

.floating-login-view-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/** 로그인 페이지에서 우측 상단 닫기 버튼 */
#close-login-view {
    background: none;
    border: none;
    outline: none;
    padding: 0.5em;
    font-size: 1em;
}

@media only screen and (min-width: 320px) {
    
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 640px) {

}

@media only screen and (min-width: 720px) {

}