/**
 * @version 1.0.0
 * @author 
 *         Eo Jinseok
 *
 * @description
 * 여기에는 공통적으로 적용되어야 할 부분을 작성해주세요.
 * 
 */


/* 모든 CSS 파일에서 공통적으로 사용할 수 있는 CSS 변수입니다. */
:root {
    --main-container-width: 100%;
    --main-container-height: auto;    
    --header-box-height: 12em;
}

* {
    margin: 0;
    padding: 0;  
}

body {
    width: var(--main-container-width);
    margin: 0;
    padding: 0;
    background-color: #F3F7FA;
}

/* 컨테이너입니다 */
.container {
    width: var(--main-container-width);
    height: var(--main-container-height);
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    position: relative;
}

a {
    color: var(--text-color);
    text-decoration: #bebebe;
}

input[type="button"], input[type="submit"] {
    width: max-content;
    outline: none;
    border: none;
    background: none;
    background-color: none;
    color: #909090;
}

@media only screen and (min-width: 320px) {
    
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 640px) {

}

@media only screen and (min-width: 720px) {

}