/**
 * @version 1.0.0
 * @author 
 *         Eo Jinseok
 *
 *
 */

:root {
    --main-container-width: 100vw;
    --main-container-height: auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F3F7FA;
}

.container {
    width: var(--main-container-width);
    height: var(--main-container-height);
    margin: 0 auto;
    padding: 0;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
}

a {
    color: var(--text-color);
    text-decoration: #bebebe;
}