.find-password-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.find-password-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
}
.find-password-wrapper h3 {
  display: block;
  margin-bottom: 1em;
}
.find-password-wrapper ul {
  height: 100%;
  list-style-type: none;
  margin-bottom: 1em;
}
.find-password-wrapper li {
  line-height: 3.5em;
}
.find-password-wrapper select {
  height: 2.5em;
}
.find-password-wrapper input {
  border: 1px solid #D5D5D5;
  min-width: 50;
  height: 2.5em;
  line-height: 1.5em;
}
.find-password-wrapper input[type=submit] {
  width: 24em;
  border: 1px solid #DDDDDD;
  font-size: 0.875em;
  background: none;
}
.find-password-wrapper h2 {
  font-size: 0.6785em;
  line-height: 1.5em;
}
.find-password-wrapper strong {
  min-width: 10em;
  display: inline-block;
  line-height: 1.5em;
}

.find-password-button-container {
  display: flex;
  width: 100%;
  flex: 0 1 auto;
  flex-wrap: nowrap;
  justify-content: center;
}
