/**
 * @version 1.0.0
 * @author 
 *         Eo Jinseok
 *
 * 헤더에 적용될 CSS를 작성해주세요.
 */

header {
    width: var(--main-container-width);
    height: var(--header-box-height);
    background: linear-gradient(to bottom, #FFFFFF 0%, #F1F1F1 100%);
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom : 0;

    opacity: 0.6;

    background: #F3F7FA;
    z-index: 10;
}

.header-wrapper {
    width: var(--main-container-width);
    height: 4em;

    display: flex;
    justify-content: space-between;
    align-items: center;   
    
    background-color: #fff;

    border: 1px solid #E5E5E5;
    border-top: 0;
}

.header-left {
    width: 12em;
    height: 4em;
    line-height: 4em;
    display: flex;
    flex-direction: row;
}

.header-left img {
    display: inline;
    height: auto;
}

.header-left a {
    margin: 0 auto;
}

.header-right {
    height: 100%;
}

.header-right-login-button {
    outline: none;
    background: #fff;
    border: none;
    cursor: pointer;
}

input[type="text"] {
    min-height: 100%;
    height: 100%;
    position: relative; /** 돋보기 아이콘을 가상 요소로 띄우기 위해 부모로 설정 */
    outline: none;
    border: 1px solid #EDEFF0;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    box-sizing: border-box; /** 이 속성을 없애면 선이 1픽셀 정도 밖으로 빠져 나갑니다. */
    color: #999999;
    border-bottom: none;
}

input[type="text"]:focus {
    background: #FF6B00;

}

::placeholder {
    color: #999999;
}

.header-filter-box {
    width: 100vw;
    height: 25vh;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.header-filter-box-wrapper {
    width: 60%;
    height: 6em; /** 6em = 96px */
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header-filter-box-header {
    min-width: 100%;
    line-height: 2em; /** 2em = 32px */
    margin-bottom: 0.5em; /** 0.5em = 8px */
    display: table;
    border-collapse: collapse;     
    justify-content: stretch;
    overflow: hidden; 
}

.header-filter-box-header > button {
    width: calc(50% - 0.3125rem); /** 0.3125rem = 5px */
    height: 3em;
    line-height: 3em; /** 3em = 48px */
    padding: 0;
    margin: 0;
    outline: none;
    border: 1px solid #E0E4E6;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
}

.header-filter-box-header > button.active {
    background-color: #FFFFFF;
    color: #FF6B00;
}

.header-filter-box-footer {
    width: 100%;
    line-height: 2em;
    display: flex;
    justify-content: space-between;
}

.header-filter-box-footer-right {
    display: flex;
    justify-content: space-around;
}

.header-filter-box-footer-right span {
    width: 4em;
    min-height: 4em;
    font-size: 0.5em;
    line-height: 4em;
    border: 1px solid #E0E4E6;
    background-color: #F3F7FA;
    text-align: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-weight: 500;
}

.header-filter-box-footer-right span.active {
    background-color: #fff;
    color: #FF6B00;
}