/**
 * @version 1.0.0
 * @author 
 *         Eo Jinseok
 *
 * 헤더에 적용될 CSS를 작성해주세요.
 */


/* 전체 헤더 영역의 크기와 위치를 지정합니다. */
header {
    width: var(--main-container-width);
    height: var(--header-box-height);
    position: fixed;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom : 0;
    z-index: 10;
}

/* 헤더를 감싸고 있는 래퍼의 크기와 하위 요소의 정렬 방법을 설정합니다 */
.header-wrapper {
    width: 100%;
    height: 4em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-top: 0;
}

/* 헤더의 왼쪽에 있는 로고 등의 아이템 */
.header-left {
    width: 8em;
    height: 4em;
    line-height: 4em;
    display: flex;
    flex-direction: row;
}

.header-left img {
    display: inline;
    height: auto;
}

.header-left > a {
    display: inline-block;
    width: 4em;
    margin-left: 1em;
}

/* 헤더 중앙에 있는 메뉴 아이템 */
.header-center {
    margin-left: 2em;
    position: relative;
}

.header-center::after {
    content: "";
    width: 2.6em;
    height: 0;
    position: absolute;
    left: 0;
    bottom: calc(-1.5em + 4px / 2);
    border-bottom: 4px solid #FF6B00;
    transition: all .2s ease-in;
    padding: 0;
    margin: 0;
}

.header-center > a {
    display: inline-block;
    width: 4em;
}

/* 헤더의 오른쪽 아이템 */
.header-right {
    height: 100%;
}

.header-right-login-button {
    outline: none;
    background: #fff;
    border: none;
    cursor: pointer;
}

input[type="text"], input[type="password"] {
    min-height: 100%;
    height: 100%;
    position: relative; /** 돋보기 아이콘을 가상 요소로 띄우기 위해 부모로 설정 */
    outline: none;
    border: 1px solid #EDEFF0;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /** 이 속성을 없애면 선이 1픽셀 정도 밖으로 빠져 나갑니다. */
    color: #999999;
    border-bottom: none;
}

input[type="text"]:focus, input[type="password"]:focus {
    background: #FF6B00;
}

::placeholder {
    color: #999999;
}

/* 헤더 아래쪽의 검색 필터링 박스의 크기와 위치를 지정합니다. */
.header-filter-box {
    width: 100%;
    height: 25vh;
    margin-bottom: 0.5em;
    padding: 0;
    background: linear-gradient(to bottom, #FFFFFF 0%, #F1F1F1 100%);
    opacity: 0.7;
}

/* 검색 필터링 박스를 감싼 래퍼의 크기와 위치를 지정합니다. */
.header-filter-box-wrapper {
    width: 60%;
    height: 6em; /** 6em = 96px */
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
    padding-top: 0.5em;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* 검색 필터링 박스는 헤더와 푸터로 다시 나뉘며 아래는 검색 필터링 박스 헤더(위쪽)의 속성을 지정합니다. */
.header-filter-box-header {
    width: 100%;
    line-height: 2em; /** 2em = 32px */
    margin-bottom: 0.5em; /** 0.5em = 8px */
    display: table;
    border-collapse: collapse;     
    justify-content: stretch;
    overflow: hidden; 
}

.header-filter-box-header > button {
    width: calc(50% - 0.3125rem); /** 0.3125rem = 5px */
    height: 3em;
    line-height: 3em; /** 3em = 48px */
    padding: 0;
    margin: 0;
    outline: none;
    border: 1px solid #E0E4E6;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
}

.header-filter-box-header > button.active {
    background-color: #FFFFFF;
    color: #FF6B00;
}

/* 검색 필터링 박스 푸터(아래쪽)의 속성을 지정합니다. */
.header-filter-box-footer {
    width: 100%;
    line-height: 2em;
    display: flex;
    justify-content: space-between;
}

.header-filter-box-footer-right {
    display: flex;
    justify-content: space-around;
}

.header-filter-box-footer-right span {
    width: 4em;
    min-height: 4em;
    font-size: 0.5em;
    line-height: 4em;
    border: 1px solid #E0E4E6;
    background-color: #F3F7FA;
    text-align: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-weight: 500;
}

.header-filter-box-footer-right span.active {
    background-color: #fff;
    color: #FF6B00;
}

@media only screen and (min-width: 320px) {
    
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 640px) {

}

@media only screen and (min-width: 720px) {

}