/**
 * @version 1.0.0
 * @author 
 *         
 *
 * @description
 * 우측 로그인 바에 대한 스타일 시트를 적용해주세요.
 * 이 요소는 처음에는 보이지 않으며 z-index가 다른 요소보다 높아야 합니다.
 */

/* 회원 가입 창의 스타일 시트 로드 */
@import url("./join.css");

/* 화면을 어둡게 만드는 라이트 박스 컨테이너입니다. */
#light-box-container {
    position: fixed;

    width: 100vw;
    height: 100vh;
    left: -9999px;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    z-index: 150;
    padding: 0;
    margin: 0;

    background-color: #252526;
    overflow: hidden;
}

#light-box-container.active {
    left: 0;
}

/* 우측 로그인 바를 감싸고 있는 래퍼입니다 */
.floating-login-view-wrapper {
    display: none;
    position: fixed;

    left: 9999px;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 200;

    flex: 1 1 0;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: flex-start; /** 왼쪽 정렬 **/

    transition: all .4s ease-out;
}

.floating-login-view-wrapper.active {
	display: flex;
    left: 0;
}

.floating-login-view {
    display: flex;

    width: 18.75em;
    min-height: 100%;
    opacity: 0.8;
    padding-top: 3em;
    line-height: 2em;
    padding-left: 2.5rem;
    
    flex-direction: column;

    background-color: #fff;
} 

/* 이미지로 선언한 아이콘을 감춥니다. */
.floating-login-view input {
    height: 49px;
    line-height: 50px;
    text-indent: 0px;
    
    border: none;
    text-align: left;
    background-image: none;
}

.floating-login-view input:focus {
    background: none;
}

.floating-login-view-input-group {
    width: 90%;
    border-bottom: 1px solid #E9EDEF;
}

/* 로그인 버튼 */
.floating-login-view-wrapper input[type="submit"] {
    width: 90%;
    height: 3em;
    line-height: 3em;

    background: #D0D0D0;
    color: #E4F3FC;
    text-align: center;
}

.floating-login-view-button-panel {
    display: flex;

    width: 90%;

    justify-content: space-between; /**  요소들 사이에만 여유 공간을 두고 배치됩니다. **/
}

.floating-login-view-right {
    display: flex;

    flex-direction: row-reverse; /** 플렉스 요소가 배치가 시작되는 축 변경 : 오른쪽에 배치됨 */
    justify-content: flex-start; 
    align-items: flex-start;
}

/** 로그인 페이지에서 우측 상단 닫기 버튼 */
#close-login-view {
    padding: 0.5em;
    font-size: 1em;
    
    background: none;
    border: none;
    outline: none;

    justify-self: right;
}

@media only screen and (min-width: 320px) {
    
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 640px) {

}

@media only screen and (min-width: 720px) {

}