* {
  margin: 0;
  padding: 0;
}

/* 색상버튼은(3번째줄 li) 사이즈버튼은(4번째줄 li) */

/* 색상(3)과 사이즈(4) 버튼이 클릭되었을때 css를 주기위한 가상클래스 */
.click_button {
  background-color : skyblue !important;
}

/* 사이즈 버튼(4) 비활성화되었을시  */
.infoArea > ul > li:nth-child(4) button[disabled] {
  background-color:gray;
}

/* 총컨텐츠 */
.item_content {
  width: 60%;
  border-top: 2px solid gray;
  margin: 150px auto;
  padding: 10px 10px 50px 10px;
  font-weight: bold; 
}

/* 상품컨텐츠 */
.productArea {
  width: 100%;
  overflow: hidden;
}

/* 상품이미지영역 */
.imgArea {
  width: 42%;
  float: left;
  height: 500px;
  margin-right: 6%;
}

.imgArea > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 상품구매정보영역 */
.infoArea {
  width: 50%;
  float: left;
  min-height: 500px;
}

.infoArea > ul {
  list-style-type: none;
}

.infoArea > ul > li {
  border-top : 1px solid rgb(207, 203, 203);
  position: relative;
}

/* 첫번째 li와 마지막li border */
.infoArea > ul > li:nth-child(1){
  border-top:none;
  border-bottom:2px solid black;
}
.infoArea > ul > li:nth-child(7){
  border-top:2px solid black;
}


/* 색상(3), 사이즈(4)버튼 css */
.infoArea > ul > li:nth-child(3) button,
.infoArea > ul > li:nth-child(4) button{
  cursor: pointer;
  margin-right: 10px;
  border:1px solid gray;
  border-radius: 3px;
  background-color:white;
  font-weight:bold;
  color:black;
}

/* 상품구매정보 li목록들 높이 */
.infoArea > ul > li:nth-child(1),
.infoArea > ul > li:nth-child(3),
.infoArea > ul > li:nth-child(4),
.infoArea > ul > li:nth-child(6) {
   height: 60px; 
}


.infoArea > ul > li:nth-child(2) {
  height: 40px;
}

.infoArea > ul > li:nth-child(7) {
  height: 75px;
}

/* 상품구매정보 li목록들 안 요소들 css 이밑으로 쭉 */
.infoArea > ul > li > span:nth-child(1) {
  display: inline-block;
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  width: 15%;
}

.infoArea > ul > li > h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.infoArea > ul > li > span:nth-of-type(2) {
  display: inline-block;
  position: absolute;
  right: 30%;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.infoArea > ul > li:nth-child(3) div,
.infoArea > ul > li:nth-child(4) div {
  display: inline-block;
  position: absolute;
  right: 20%;
  width: 60%;
  top: 50%;
  transform: translateY(-50%);
}

.allPrice {
  font-size: 20px;
  font-weight: bold;
}

.infoArea > ul > li:nth-child(5) > ul {
  list-style-type:none;
}

/* 색상과 사이즈버튼 클릭시 동적으로 생성되는 li태그에 대한 css*/
.infoArea > ul > li:nth-child(5) > ul > li {
  padding: 10px;
  color:gray;
  font-size: 12px;
}

.infoArea > ul > li:nth-child(5) > ul > li > button {
  min-width: 10px;
}

.infoArea > ul > li:nth-child(7) > div {
  position: absolute;
  display : flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.infoArea > ul > li:nth-child(7) > div > button {
  width: 100px;
  height: 50px;
  border: none;
  background-color: black;
  font-size: 20px;
  color:white;
  font-weight:bold;
}

.infoArea > ul > li:nth-child(7) > div > button:nth-child(1) {
  margin-right: 25px;
}





/* productArea  끝 (상품이미지, 상품구매정보)*/
/* productArea2 시작 (중간메뉴 상품상세설명,상품결제정보) */





.productArea2 {
  width: 100%;
}

.productArea2 > .productArea2_button {
  position:relative;
  height: 150px;
}

.productArea2 > .productArea2_button > .productArea2_buttonList {
  list-style-type: none;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.productArea2 > .productArea2_button > .productArea2_buttonList > li {
  display: inline-block;
}

.productArea2 > .productArea2_button > .productArea2_buttonList > li > a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color:gray;
  font-weight: bold;
}

.productArea2 > .productArea2_detailImg {
  width: 100%;
  
}

.productArea2 > .productArea2_detailImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.productArea2 > .productPayInfo {
  width: 100%;
  overflow: hidden;
}

.productArea2 > .productPayInfo > h3 {
  float: left;
  width: 10%;
}

.productArea2 > .productPayInfo > div {
  float: left;

}

.productArea2 > .productPayInfo > div:nth-of-type(1) {
  width: 38%; 
  
}

.productArea2 > .productPayInfo > div span {
  padding-left: 10px;
  display: inline-block;
  color: gray;
  font-size: 14px;
}



.productArea2 > .productPayInfo > div:nth-of-type(2) {
  width: 48%;
  margin-bottom: 10px;
  
}



.productArea2 > .productPayInfo > div:nth-of-type(3) {
  width: 48%;
 
} 




/* productArea2 끝  */
/* item_top_bottom 시작(우측하단 top,bottom버튼) */




.item_top_bottom {
  width: 50px;
  height: 100px;
  position:fixed;
  bottom: 5%;
  right: 5%;
}

.item_top_bottom > a {
  text-decoration : none;
  font-size: 13px;
  height: 50px;
  display:block;
  position:relative;
  border:1px solid black;
  border-radius: 50px;
  background-color: black;
  color:white; 
}

.item_top_bottom > a:nth-child(1) {
  margin-bottom:5px;
}

.item_top_button,
.item_bottom_button{
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.facebook-comments {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 1em;
}










