@charset "UTF-8";

/** 
 * @author: Handeokho
 * @type freeboard
 * @description This is a freeboard.  
 */
 *{
	margin: 0;
	padding: 0;
}

.listBox {
	width: 50%;
	margin: 0 auto;
	position: relative;
	
}

.listTitle {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	display: block;
}

/* #listTitle1 {
	background-color: gray;
} */

.listTitle2 {
	list-style-type: none;
	overflow: hidden;
	margin: 10px 0 10px 0;
	border-radius: 5px;
	font-size: 13px;
	/* background-color: #B2EBF4; */
	
}

.listTitle2 > li {
	float:left;
	width: 20%;	
	overflow:hidden;
	border-bottom: 2px solid #EAEAEA;
	max-height: 17px;
	min-height: 17px;
}

.listPM {
	position: relative;
	
}

.listPM > .listPMPage {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.listPM > .listPMMove {
	position: absolute;
	right: 0;	
}

.listPM > .listPMMove > a {
	text-decoration:none;
	font-weight: bold;
	font-size: 13px;
}

.listSearch {
	position: relative;
}

.listSearch > .listSearchFrm {
	
	display:inline-block;
	position: relative;
	left:50%;
	transform: translateX(-50%);
}

.list-btn {
	border: none;
    font-weight: bold;
    font-size: 12px;
   
    border-radius: 5px 5px 5px 5px;
    line-height: 12px;
    background-color: #D5D5D5;
    height: 22px;
}



