@charset "UTF-8";

/** 
 * @author: Handeokho
 * @type freeboard
 * @description This is a freeboard.  
 */
 *{
	margin: 0;
	padding: 0;
}

.listBox {
	width: 80%;
	margin: 0 auto;
	position: relative;
	
}

.listTitle {
	font-weight: bold;
	font-size: 20px;
	display: block;
	padding: 10px;
}

 #listTitle1 {
    border-top: 2px solid #CDCCCC;
	padding: 5px 0 5px 0;
 }
 

.listTitle2 {
	list-style-type: none;
	overflow: hidden;
	font-size: 13px;
	border-bottom: solid 1px #CDCCCC;	
	padding: 5px 0 5px 0;
}

.listTitle2:hover {
	background-color: #EDEDED;
}

.listTitle2 > li {
	float:left;
	overflow:hidden;
	max-height: 17px;
	min-height: 17px;

}


.listTitle2 > li:nth-child(1) {
	width: 5%;
	text-align: center;
}

.listTitle2 > li:nth-child(2) {
	width: 15%;
	text-align: center;
}

.listTitle2 > li:nth-child(3) {
	width: 60%;

}

.listTitle2 > li:nth-child(4) {
	width: 10%;
	text-align: center;
}

.listTitle2 > li:nth-child(5) {
	width: 10%;
	text-align: center;
}


/* .listPM {
	padding-top: 10px;
	position: relative;
	border-top : 2px solid #CDCCCC;
	margin-bottom: 10px;
	
} */

.listPM {
	padding: 15px;
	display: flex;
	border-top : 2px solid #CDCCCC;
	
}

.flexBox1 {
	flex: 1;
}


/* .listPM > .listPMPage {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
} */

.listPM > .listPMPage {
	flex: 1;
	text-align:center;
}


/* .listPM > .listPMMove {
	position: absolute;
	right: 0;	
} */

.listPM > .listPMMove {
	flex: 1;
	text-align:right;
}

.listPM > .listPMMove > a {
	text-decoration:none;
	font-weight: bold;
	font-size: 13px;
}

/* .listSearch {
	position: relative;
}

.listSearch > .listSearchFrm {
	
	display:inline-block;
	position: relative;
	left:50%;
	transform: translateX(-50%);
} */

.listSearch {
	display: flex;
	justify-content: center; 

}

.listSearch > .listSearchFrm {	
	
	

} 

.list-btn {
	border: none;
    font-weight: bold;
    font-size: 12px;   
    border-radius: 5px 5px 5px 5px;
    line-height: 12px;
    background-color: #D5D5D5;
    height: 22px;
}

#re:before {
	content:"re";
	/* border:1px solid black; */
	border-radius:20px;
	background-color:black;
	color: white;
	font-size: 12px;
	line-height: 17px;
	margin-right: 5px;
	text-align: center;
	padding: 0 3px 0 3px;
	
}



