@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

.post {
	width: 80%;
	
	margin: 0 auto;
}

.post > form > ul {
	list-style-type: none;
}

.post > form > ul > li:nth-child(1),
.post > form > ul > li:nth-child(3) {

	background-color:white;
	border-top: solid 1px #CDCCCC; 
	border-bottom: solid 1px #CDCCCC;

}

.post > form > ul > li:nth-child(5) {
	display: flex;
	padding-top: 5px;
	padding-bottom: 5px;
}

#flexDiv1 {
	flex:1;
}
#flexDiv2 {
	flex:1;
	text-align: right;
}
.post > form > ul > li:nth-child(1) input:nth-child(1),
.post > form > ul > li:nth-child(3) input:nth-child(1) {
	border: none;
	width: 100%;
	padding: 15px 0 15px 0px;
}



.post-btn {
	border: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    background-color: #D5D5D5;
    height: 22px;
}

#pass {
	border: none;
	border-top: solid 1px #CDCCCC; 
	border-bottom: solid 1px #CDCCCC;
	padding: 10px 0 10px 0;
	margin-top:5px;
}
