@charset "UTF-8";

 * {
	margin: 0;
	padding: 0;
}

.readBox {
	width: 50%;
	margin: 0 auto;
}

.readBox > .readBox2 {
	list-style-type: none;
}

.readBox > .readBox2 > li {
	margin: 2% 0 2% 0;
	position: relative;
}

.readBox > .readBox2 > li > span:nth-child(1) {
	font-weight: bold;
	margin-right: 10%;
}

.readBox > .readBox2 > li > span:nth-child(2) {
	position: absolute;
	left: 13%;
}


.readBox > .readBox2 > li:nth-child(5) {
	border-radius: 5px;
	background-color: #EAEAEA;
	width: 50%;
	padding: 5px;
	
}

.readBox > .readBox3 {
	
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 30px;
	
}

.readBox > .replyBox > div   {
	padding: 10px;	
	margin-bottom: 15px;
	display:inline-block; 
}

.readBox > .replyBox > div > span {
	/* margin-right: 25px; */
}

.readBox3 button {
	border: none;
    font-weight: bold;
    font-size: 12px;  
    border-radius: 5px 5px 5px 5px;
    line-height: 12px;
    background-color: #D5D5D5;
    height: 22px;
}

.replyBox button {
	border: none;
    font-weight: bold;
    font-size: 12px;  
    border-radius: 5px 5px 5px 5px;
    line-height: 12px;
    background-color: #D5D5D5;
    height: 22px;
}

.read-btn {
	border: none;
    font-weight: bold;
    font-size: 12px;  
    border-radius: 5px 5px 5px 5px;
    line-height: 12px;
    background-color: #D5D5D5;
    height: 22px;
}

.read-deleted-div {
	background-color: #EAEAEA;
	border: none;
	border-radius: 5px;
}

.read-exit-div {
	background-color: #EAEAEA;
	border: none;
	border-radius: 5px;
}

.read-exit-div span:nth-child(1) {
	font-weight: bold;
	
}

.read-exit-div span:nth-child(2) {
	font-size: 6px;
	margin-right: 25px;
}

.read-exit-div span:nth-child(3) {
	margin-right: 25px;
}


