@charset "UTF-8";

 * {
	margin: 0;
	padding: 0;
}

.readBox {
	width: 80%;
	margin: 0 auto;
	position: relative;
	
}

.readBox > .readBox2 {
	list-style-type: none;
	background-color: white;
}

.readBox > .readBox2 > li {
	
	position: relative;
}

.readBox > .readBox2 > li > span:nth-child(1) {
	font-weight: bold;
	margin-right: 5px;
	
}

.readBox > .readBox2 > li > span:nth-child(2) {
	font-size: 10px;
	color: gray;
}
.readBox > .readBox2 > li:nth-child(1) {
	background-color: #EAEAEA;
	padding: 30px 30px 30px 30px;
	border-top: 2px solid #CDCCCC;
}

.readBox > .readBox2 > li:nth-child(2) {
	color: brown;
	font-size: 30px;
	padding: 30px 0 0 30px;	
	border-top: 1px solid #CDCCCC;

}

.readBox > .readBox2 > li:nth-child(3) {
	padding: 30px 0 30px 30px;
	border-bottom: 2px solid #CDCCCC;
}

.readBox > .readBox3 {	
	display: inline-block;
	position: absolute;
	right: 0;
	padding-top: 10px;
}

/* .readBox > .replyBox > div   {
	padding: 10px;	
	 display:inline-block; 

} */


.flexBox {
	display: flex;
	
}

.readBox3 button {
	border: none;
	
    font-weight: bold;
    font-size: 12px;  
    line-height: 12px;
    background-color: #D5D5D5;
    height: 22px;
}

.replyBox button {
	border: none;
    font-weight: bold;
    font-size: 12px;  
    line-height: 12px;
    background-color: white;
    height: 22px;
    border-bottom: 1px solid #D5D5D5;
}

.read-btn {
	border: none;
    font-weight: bold;
    font-size: 12px;  
    line-height: 12px;    
    background-color: #D5D5D5;    
    height: 22px;
}

.read-deleted-div {
	background-color: white;
	border: none;
	color: #a7a7a7;
	font-weight: bold;
	border-bottom: 1px solid #CDCCCC;
	border-top: 1px solid #CDCCCC;
}

#read-deleted-div1 {
	margin-top: 30px;
	padding: 30px 10px 30px 10px;
	flex: 1;
}

#read-deleted-div2 {
	background-color: white;
	padding: 30px 10px 30px 10px;
	flex: 1;
}


.read-exit-div {
	background-color: white;
	border-bottom: 1px solid #CDCCCC;
	border-top: 1px solid #CDCCCC;
	
}

#read-exit-div1 {
	margin-top: 30px;
	padding: 30px 10px 30px 10px;
	flex: 1;
}

#read-exit-div2 {
	background-color: white;
	flex: 1;
	padding: 30px 10px 30px 10px;
}


.read-exit-div span:nth-child(1) {
	font-weight: bold;
	
}

.read-exit-div span:nth-child(2) {
	font-size: 6px;	
	 margin-right: 25px;
       
}

.read-exit-div span:nth-child(3) {
  	margin-right: 15px;
}

.upupupBtn {
	border: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    background-color: #D5D5D5; 
    height: 22px;
}

#textBox {
	margin: 45px 0 45px 0;
	display: flex;
}

#textBox > textarea {
	border: 1px solid #CDCCCC;
	flex: 10;

	
}

.aabbcc2 {
	flex: none;
	width: 22px;
	position: relative;
}
#aabbcc {
	position: absolute;
	bottom: 0;

}


/* #re:before {
	content:"re";
	border:1px solid black; 
	border-radius:20px;
	background-color:black;
	color: white;
	font-size: 12px;
	line-height: 17px;
	margin-right: 5px;
	text-align: center;
	padding: 0 3px 0 3px;
	float: left;
	

*/

#re {
	border:1px solid black; 
	background-color:black;
	color: white;
	border-radius:20px;
	font-size: 12px;
	padding: 0 3px 0 3px;
	flex: none;
	width: 15px;
	height: 15px;
	
}
.after {
	height: 100px;
}

#nulll {
	flex: none;
	width: 20px;


}





