.item_selected_none {
    position: relative;  
}

.item_selected_none_all_del {
    color: #FF6B00;
    font-weight:bold;
    padding: 10px;
    border-radius: 25px;
    display:block; 
    outline:none;
    border:none;
    background-color:white;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.item_selected_none_img {
    margin:30px auto;
    display:block;
}

.item_selected_none_sp {
    margin: 10px auto;
    text-align: center;
    color: #909090;
}

.item_selected_none_button {
    color: #FF6B00;
    font-weight:bold;
    padding: 10px;
    border-radius: 25px;
    margin:20px auto;
    display:block; 
    outline:none;
    border:none;
    background-color:white;
    cursor: pointer;
}