@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.updateBox {
	width: 55%;
	margin: 0 auto;
}

.updateBox > form > ul {
	list-style-type: none;
}

.updateBox > form > ul > li > span:nth-child(1) {
	margin-right: 10px;
}

.updateBox > form > ul > li {
	margin: 2% 0 2% 0;
}

.update-btn {
	border: none;
    font-weight: bold;
    font-size: 12px;
   
    border-radius: 5px 5px 5px 5px;
    line-height: 12px;
    background-color: #D5D5D5;
    height: 22px;
}



