@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.updateBox {
	width: 80%;
	margin: 0 auto;
}

.updateBox > form > ul {
	list-style-type: none;
	margin-bottom: 10px;
}

.updateBox > form > ul > li > span:nth-child(1) {
	margin-right: 10px;
}

.updateBox > form > ul > li {
	border: none;
	width: 100%;
	background-color:white;
	border-top: solid 1px #CDCCCC; 
	border-bottom: solid 1px #CDCCCC;
}

.updateBox > form > ul > li input {
	border: none;
	width: 100%;
	padding: 15px 0 15px 0px;
}

.update-btn {
	border: none;
    font-weight: bold;
    font-size: 12px;
   
    border-radius: 5px 5px 5px 5px;
    line-height: 12px;
    background-color: #D5D5D5;
    height: 22px;
}

.updateBtn2 {
	text-align: right;
}

